---
import { TipoPlatos } from "../../api/platos";

---
<div class="flex gap-2 overflow-x-auto">
{
  TipoPlatos.entries().map(([tipo, nombre]) => {
    return (
      <div> {tipo}-{nombre} </div>
    );
  })
}

</div>