---
import { getAllPlatosAsMap, TipoPlatos } from "../../api/platos";
import ButtonReturnTop from "./ButtonReturnTop.astro";
import Filtro from "./Filtro.astro";
import MenuSection from "./MenuSection.astro";

const platosMap = await getAllPlatosAsMap();
---

<div class="p-4">
  <h1>Menu</h1>
  <Filtro />
  <div class="flex flex-col gap-4">
    {
      TipoPlatos.entries().map(([tipo, nombre]) => {
        const platosTipo = platosMap[tipo];
        return <MenuSection title={nombre} products={platosTipo} />;
      })
    }
  </div>
  <ButtonReturnTop />
</div>
