---
import { getAllPlatos, getPlatosByTipo, getAllPlatosAsMap } from "../../api/platos";

const platos = await getAllPlatos();
const bebidas = await getPlatosByTipo('Bebida');
const platosMap = await getAllPlatosAsMap();

console.log(platosMap);


---

<h1>Menu</h1>
<section>Bebidas</sectio>
  {
    bebidas.map(({nombre, precio, ingredientes}): Plato => (
      <div>{nombre}</div>
      <div>{ingredientes}</div>
      <div>{precio}</div>
    ))
  }