---
import { CategoriasOrdenadas } from "../../api/platos";
import ButtonNavbar from "./ButtonNavbar.astro";

export interface Props {
  currentCategoria: string | undefined;
}

const categoriasArray = Array.from(CategoriasOrdenadas.entries());
const { currentCategoria } = Astro.props;
---

<div class="flex flex-row gap-2 overflow-x-auto overflow-y-hidden pb-1 mb-4">
  <ButtonNavbar
      categoria={"todo"}
      isActive={currentCategoria === "todo"}
      title="Todo"
    />
  {categoriasArray.map(([categoria, nombre]) => (
    <ButtonNavbar
      categoria={categoria}
      isActive={currentCategoria === categoria}
      title={nombre}
    />
  ))}
</div>