---
import { CategoriasOrdenadas } from '../../api/platos';
import Plato from './Plato.astro';

export interface Props {
  platos: Plato[];
  categoria: Categoria;
}

const { platos, categoria } = Astro.props;
const categoriaDescripcion = CategoriasOrdenadas.get(categoria as Categoria);
---

<section class="flex flex-col gap-4">
  <h2 class="text-2xl font-semibold">{categoriaDescripcion}</h2>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {platos.map((plato) => (
      <Plato plato={plato} />
    ))}
  </div>
</section>