---
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import MejoresPlatos from "../components/MejoresPlatos/MejoresPlatos.astro";
import Horario from "../components/Horario.astro";
import Layout from "../layouts/Layout.astro";
import HeroVideo from "../components/HeroVideo.astro";
---

<Layout title="Restaurante Sant Jhoane - Auténtica Cocina Ecuatoriana">
  <main class="min-h-screen bg-[#FDF6E3]">
    <!-- <Hero /> -->
    <HeroVideo />
    <div class="max-w-4xl mx-auto">
      <MejoresPlatos />
      <Contacto />
      <Horario />
    </div>
    <Footer />
  </main>
</Layout>
