---
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import MejoresPlatos from "../components/MejoresPlatos/MejoresPlatos.astro";
import Horario from "../components/Horario.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Restaurante Sant Jhoane - Auténtica Cocina Ecuatoriana">
  <main class="min-h-screen bg-[#FDF6E3]">
    <Hero />
    <MejoresPlatos />
    <Contacto />
    <Horario />
    <Footer />
  </main>
</Layout>
