---
// import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
// import Hero from "../components/Hero.astro";
import MejoresPlatos from "../components/MejoresPlatos/MejoresPlatos.astro";
import Horario from "../components/Horario.astro";
import Layout from "../layouts/Layout.astro";
import HeroVideo from "../components/HeroVideo.astro";
import ContactoIcons from "../components/ContactoIcons.astro";
---

<Layout title="Restaurante Sant Jhoane - Auténtica Cocina Ecuatoriana">
  <main class="min-h-screen bg-[#0a0a0a]">
    <!-- <Hero /> -->
    <HeroVideo />

    <MejoresPlatos />
    <!-- <Contacto /> -->
    <ContactoIcons />
    <Horario />

    <Footer />
  </main>
</Layout>
