---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carta · Restaurante Sant Jhoan'e">
  <main class="mt-20">
    <h1 class="text-6xl text-white font bold">Carta</h1>
  </main>
</Layout>
