<section class="pt-16 px-4">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-3xl font-semibold mb-6 text-amber-900">Visítanos</h2>
    <p class="text-lg mb-4 text-amber-900">Calle Sapadores 45, Valencia</p>
    <div class="flex justify-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.5630895378267!2d-0.3699259250665346!3d39.45660607161002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60498e4a933cf3%3A0x77a46b43dd0724ba!2sRestaurante%20Sant%20Jhoan'e!5e0!3m2!1ses!2sec!4v1732335996122!5m2!1ses!2sec"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
