---
import Title from "./ui/Title.astro";
---

<section class="pt-16 px-4">
  <Title text="Contacto" />
  <!-- <div class="max-w-4xl mx-auto"> -->
  <ul class="list-none space-y-1">
    <li>
      <a
        href="tel:+34960151265"
        class="text-lg text-amber-900 hover:text-amber-700">+34 960 151 265</a
      >
    </li>
    <li>
      <a
        href="https://maps.app.goo.gl/fPTwu5DGyFdq1csG7"
        target="_blank"
        class="text-lg text-amber-900 hover:text-amber-700"
      >
        Calle Sapadores 45, Valencia
      </a>
    </li>
  </ul>
  <div class="flex mt-2">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.5630895378267!2d-0.3699259250665346!3d39.45660607161002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60498e4a933cf3%3A0x77a46b43dd0724ba!2sRestaurante%20Sant%20Jhoan'e!5e0!3m2!1ses!2sec!4v1732335996122!5m2!1ses!2sec"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <!-- </div> -->
</section>
