---
const year = new Date().getFullYear();
---

<footer class="mt-16 bg-[#78350f] text-white py-8 px-4">
  <div class="max-w-6xl mx-auto text-center">
    <p>&copy; {year} Restaurante Sant Jhoane.</p>
  </div>
</footer>
