<div class="relative" style="padding-bottom: 50%;">
  <iframe
    class="absolute inset-0 w-full h-full"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1728.9091236639645!2d-0.3690192006774357!3d39.45655341229609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60498e4a933cf3%3A0x77a46b43dd0724ba!2sRestaurante%20Sant%20Jhoan'e!5e0!3m2!1ses!2ses!4v1708890783888!5m2!1ses!2ses"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
