.loading {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.loading-img {
  height: 10rem;
}

.loading-text {
  animation: flash 1.4s linear infinite;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}
