*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  font-size: 1.125em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-breakfast{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem
}

@media (min-width: 1024px) {
  .grid-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-breakfast{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .cards {
    width: 60%;
    margin: 0 auto;
  }

  .fullbackgroundcontent {
    padding: 0 20%;
    margin: 0 auto;
  }
}
