---
interface Props {
  background?: boolean;
}

const { background } = Astro.props;

import Buttton from "../HeaderButton.astro";
---

<Buttton
  target="_blank"
  url="https://www.google.com/maps/dir//Restaurante+Sant+Jhoan%27e/data=!4m8!4m7!1m0!1m5!1m1!1s0xd60498e4a933cf3:0x77a46b43dd0724ba!2m2!1d-0.367351!2d39.456606099999995"
  class={background ? "bg-blue-600" : ""}
>
  <svg
    class="mr-1"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
      d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
    ></path></svg
  >
  <span>Cómo Llegar</span>
</Buttton>
