---
import Layout from "../../layouts/Layout.astro";
import Menu from "../../components/carta/Menu.astro";
---

<Layout
  title="Carta · Restaurante Sant Jhoane - Auténtica Cocina Ecuatoriana"
  description="Conoce todas las opciones de carta disponibles en Restaurante Sant Jhoane, conocido también como San Joan, un lugar para disfrutar de la mejor comida ecuatoriana en Valencia."
>
  <main class="min-h-screen bg-[#FDF6E3]">
    <Menu />
  </main>
</Layout>
