---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div class="flex gap-2 text-[#FDF6E3]">
  <div class="py-1">
    <slot name="icon" />
  </div>
  <div>
    <h2 class="text-xl font-semibold">
      {title}
    </h2>
    {description && <p class="text-lg text-[#dddd]">{description}</p>}
  </div>
</div>
